In [2]:
R.version.string

[1] "R version 3.5.1 (2018-07-02)"

In [31]:
library("bigrquery")

In [32]:
?bigrquery

bigrquery-package          package:bigrquery           R Documentation

_b_i_g_r_q_u_e_r_y: _A_n _I_n_t_e_r_f_a_c_e _t_o _G_o_o_g_l_e'_s '_B_i_g_Q_u_e_r_y' '_A_P_I'

_D_e_s_c_r_i_p_t_i_o_n:

     Easily talk to Google's 'BigQuery' database from R.

_P_a_c_k_a_g_e _o_p_t_i_o_n_s:

     ‘bigrquery.quiet’ Verbose output during processing? The default
          value, ‘NA’, turns on verbose output for queries that run
          longer than two seconds.  Use ‘TRUE’ for immediate verbose
          output, ‘FALSE’ for quiet operation.

     ‘bigrquery.page.size’ Default page size for fetching data,
          defaults to 1e4.

_A_u_t_h_o_r(_s):

     *Maintainer*: Hadley Wickham <email: hadley@rstudio.com>

     Other contributors:

        • Kungliga Tekniska Högskolan (strptime implementation)
          [contributor]

        • The NetBSD Foundation, Inc. (gmtime implementation)
          [contributor]

        • RStudio [copyright holder]

_S_e_e _A_l_s_o:

     Useful links:

        • <URL: https://github.com/rstats-db/bigrquery>

        • Report bugs at <URL:
          https://github.com/rstats-db/bigrquery/issues>

## Retrieve London weather data

#### Querying a public dataset `bigrquery` with project id

In [41]:
path = "london-weather-bigquery/My First Project-98ef7c91d798.json"
set_service_token(path)

projectid = "pacific-destiny-243512"

In [43]:
# Set your query
sql <- "SELECT year, month, day, weight_pounds FROM `publicdata.samples.natality` limit 100"

# Run the query and store the data in a dataframe
tb <- bq_project_query(query=sql,x=projectid)
df <- bq_table_download(tb)

# View the query result
df

    year month day weight_pounds
1   1969  1    28  6.624891
2   1969  5    10  9.063204
3   1969 11    20  6.000983
4   1970  1    31  5.813590
5   1970  5    22  7.251004
6   1971  4     6  5.626197
7   1971  8    13  9.124933
8   1969  9     5  6.250105
9   1969  2    18  7.312733
10  1969 12     6  7.312733
11  1970  5    22  6.563162
12  1971  7     6  8.187968
13  1971  7    23  2.500042
14  1990  6    NA  6.686620
15  1990  7    NA  5.357233
16  1990  1    NA  7.687519
17  1990 10    NA  8.598028
18  1969  2    14  6.311835
19  1969  7     3  6.311835
20  1970  9    19  7.687519
21  1970 12     6  5.562263
22  1970 10    12  6.437498
23  1970  2    15  6.250105
24  1970  4    26  7.625790
25  1970  4    27  6.937947
26  1971  4    24  9.063204
27  1990  4    NA  6.250105
28  1990 11    NA  5.842250
29  1991  3    NA  7.810978
30  1991  7    NA  7.810978
⋮   ⋮    ⋮     ⋮   ⋮
71  1971  1    22  7.500126
72  1990  7    NA  6.843149
73  1990  9    NA  9.124933
74  1990  9    NA  7.625790
75  1990 10    NA  6.937947
76  1990 12    NA  7.251004
77  1990 11    NA  8.062305
78  1991  5    NA  7.716179
79  1991  9    NA  7.870503
80  1991  7    NA  9.250597
81  1991 12    NA  8.187968
82  1991 11    NA  2.524293
83  1999  3    NA  9.466650
84  2000 11    NA  5.749656
85  2000  3    NA  7.874912
86  2000 12    NA  7.687519
87  2000  5    NA  6.686620
88  2000 10    NA  6.874013
89  2000  6    NA  6.091372
90  2000  6    NA  8.708259
91  2000  2    NA  7.063611
92  2000 11    NA  4.750962
93  2000  1    NA  7.312733
94  2000  3    NA  8.884629
95  2000  2    NA  5.187477
96  2000  4    NA  7.998371
97  2000  6    NA  4.384994
98  2000  6    NA  5.599741
99  2000  6    NA  7.813183
100 2000  8    NA  7.125340

In [45]:
# Set your query
sql <- "SELECT * FROM `bigquery-public-data.ghcn_d.ghcnd_stations` LIMIT 10"

# Run the query and store the data in a dataframe
tb <- bq_project_query(query=sql,x=projectid)
df <- bq_table_download(tb)

# View the query result
df

   id          latitude longitude elevation state
1  ASN00033094 -20.0133 148.2247  0
2  ASN00033300 -21.1439 149.0753  0
3  ASN00040836 -27.6272 152.7461  0
4  BR000047003  -0.7300 -47.8500  0
5  BR000047004  -0.9300 -47.1000  0
6  BR000047005  -0.6300 -47.6600  0
7  BR000047006  -0.7800 -47.1800  0
8  BR000048006  -0.8700 -48.1100  0
9  BR000051002  -0.4000 -51.4200  0
10 BR000051003  -0.1800 -51.8000  0
   name                           gsn_flag hcn_crn_flag wmoid
1  BOWEN CHEETHAM SALT                                  NA
2  DUMBLETON ROCKS ALERT                                NA
3  ONE MILE BRIDGE ALERT                                NA
4  CURUCA                                               NA
5  PRIMAVERA                                            NA
6  MARUDA                                               NA
7  SAO JOAO DE PIRABAS                                  NA
8  VIGIA                                                NA
9  NAVIO                                                NA
10 PANCADA                                              NA